* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	/* border: 1px solid black; */
}
header {
	color: white;
	background: #222;
	padding: 1.4em;
}
.container {
	width: 70%;
	margin: auto;
	overflow: hidden;
}
#title {
	display:inline;
}

header nav ul {
	list-style-type: none;
}
header nav {
	display: inline-block;
	float: right;
}
header nav li {
	display: inline-block;
	margin: 0.2em;
	padding: 0.1em;
}
header nav a {
	text-decoration: none;
	color: white;
}

#main {
	margin-top: 2em;
	float: center;
}
#main p {
	margin: 0.7em 0;
}
.sec-header {
	margin-bottom: 0.1em;
}
code {
	font-family: 'Courier New', Courier, monospace;
	background: #ddd;
	padding: 0.2em;
	margin: 0.1em;
}
code.block {
	display:block;
	width: 100%;
	margin:0.3em;
	padding: 0.4em;
	tab-size: 4;
}
form {
	margin: auto 0;
	display: inline-block;
}
.form-part {
	margin: 0.7em 0;
	display: block;
}
.form-part label {
	margin: auto;
	display: inline-block;
}
input[type=url],
input[type=number],
input[type=text] {
	padding: 0.2em;
	border-radius: 8px;
	border: 1px solid;
	float: right;
	margin-left: 0.5em;
}
input[type=number] {
	width: 4.75em;
}
input[type=submit] {
	color: white;
	border: none;
	padding: 0.5em;
	border-radius: 12%;
}
.success,
.add {
	background: green;
}
.failure,
.remove {
	background: crimson;
}
.response {
	padding: 0.6em 1em;
	margin: 0.1em;
	width: auto;
	border-radius: 8px;
	display: inline-block;
}