{% extends "layout.html" %}

{% block body %}
	<h3>Add a new webhook</h3>
	<form method="POST">
		<div class="form-part">
			<label for="url">Request to:</label>
			<input type="url" name="url" id="url" required>
		</div>
		<div class="form-part">
			<label for="delay">Delay:</label>
			<input type="number" maxlength="5" size="5" name="delay" id="delay" min="1" required>
		</div>
		<div class="form-part">
			<label for="recent">Recent Doners: </label>
			<input type="radio" name="top" value="False" id="recent" checked>
			<label for="top">Top Doners: </label>
			<input type="radio" name="top" value="True" id="top">
		</div>
		<div class="form-part">
			<input type="submit" class="add" value="Submit">
		</div>
	</form>
	<br>
	{% set success = 'Hook Created. Your token is:' %}
	{% include "form-response.html" %}
{% endblock %}